/********************************************************************
Custom Reset from Josh W. Comeau
https://www.joshwcomeau.com/css/custom-css-reset/
********************************************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/********************************************************************
Custom Properties
********************************************************************/

:root {
    /* Colors */
    --color_1: #1F2937;
    --color_2: #FFFFFF;
    --color_3: #E5E7EB;
    --color_4: #F9FAF8;
    --color_5: #3882F6;
    --color_6: #6d747d;
    --color_7: #4b5563;
    --color_8: #515151;

    /* Font colors */
    --fc_1: var(--color_4);
    --fc_2: var(--color_3);
    --fc_3: var(--color_1);

    /* Font sizes */
    --fs_1: 48px;
    --fs_2: 36px;
    --fs_3: 24px;
    --fs_4: 18px;

    /* Font weights */
    --fw_1: bolder;
    --fw_2: lighter;

    /* Padding */
    --padding_1: 300px;
}

/********************************************************************
Main Container
********************************************************************/

.main_container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/********************************************************************
Header
********************************************************************/

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px var(--padding_1);
    background-color: var(--color_1);
}

.header__logo {
    color: var(--color_4);
    font-size: var(--fs_3);
    font-weight: var(--fw_1);
}

.header__links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    color: var(--color_3);
    font-size: var(--fs_4);
    list-style: none;
}

/********************************************************************
Hero
********************************************************************/

.hero {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 100px var(--padding_1);
    background-color: var(--color_1);
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__title {
    color: var(--color_4);
    font-size: var(--fs_1);
    font-weight: var(--fw_1);
}

.hero__desc {
    color: var(--color_3);
    font-size: var(--fs_4);
}

.hero__button {
    align-self: start;
    padding: 5px 30px;
    color: var(--color_2);
    font-size: var(--fs_4);
    font-weight: var(--fw_1);
    background-color: var(--color_5);
    border: none;
    border-radius: 10px;
}

.hero__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    color: var(--color_2);
    background-color: var(--color_6);
    border-radius: 10px;
}

/********************************************************************
Showcase
********************************************************************/

.showcase {
    padding: 50px var(--padding_1);
    text-align: center;
}

.showcase__title {
    margin-bottom: 50px;
    color: var(--color_1);
    font-size: var(--fs_2);
    font-weight: var(--fw_1);
}

.showcase__boxes {
    display: flex;
    justify-content: space-evenly;
}

.showcase__box-container {
    max-width: 150px;
}

.showcase__box {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border: 3px solid var(--color_5);
    border-radius: 15px;
}

.showcase__desc {
    color: var(--color_7);
}

/********************************************************************
Quote
********************************************************************/

.quote-container {
    padding: 100px var(--padding_1);
    background-color: var(--color_3);
}

.quote-container__quote {
    font-size: var(--fs_2);
    font-weight: var(--fw_2);
    font-style: italic;
    color: var(--color_8);
}

.quote-container__quotee {
    text-align: end;
    font-size: var(--fs_3);
    font-weight: var(--fw_1);
}

/********************************************************************
Call To Action
********************************************************************/

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px var(--padding_1);
    padding: 50px 150px;
    background-color: var(--color_5);
    border-radius: 10px;
}

.cta__title {
    font-size: var(--fs_2);
    font-weight: var(--fw_1);
    color: var(--color_2);
}

.cta__desc {
    font-size: var(--fs_4);
    color: var(--color_3);
}

.cta__button {
    padding: 5px 30px;
    font-size: var(--fs_3);
    font-weight: var(--fw_1);
    color: var(--color_2);
    background-color: var(--color_5);
    border: 3px solid white;
    border-radius: 10px;
}

/********************************************************************
Footer
********************************************************************/

.footer {
    padding: 30px 0;
    background-color: var(--color_1);
    font-size: var(--fs_4);
    color: var(--color_2);
    text-align: center;
}