/********************************************************************
Custom Reset from Josh W. Comeau
https://www.joshwcomeau.com/css/custom-css-reset/
********************************************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/********************************************************************
Custom Properties
********************************************************************/

:root {
    /* Colors */
    --color_1: #1F2937;
    --color_2: #FFFFFF;
    --color_3: #E5E7EB;
    --color_4: #F9FAF8;
    --color_5: #3882F6;

    /* Font colors */
    --fc_1: var(--color_4);
    --fc_2: var(--color_3);
    --fc_3: var(--color_1);

    /* Font sizes */
    --fs_1: 48px;
    --fs_2: 36px;
    --fs_3: 24px;
    --fs_4: 18px;

    /* Font weights */
    --fw_1: bolder;

    /* Padding */
    --padding_1: 300px;
}

/********************************************************************
Main Container
********************************************************************/

.main_container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/********************************************************************
Header
********************************************************************/

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px var(--padding_1);
    background-color: var(--color_1);
}

.header__logo {
    color: var(--color_4);
    font-size: var(--fs_3);
    font-weight: var(--fw_1);
}

.header__links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    color: var(--color_3);
    font-size: var(--fs_4);
    list-style: none;
}
